.underline-from-center {
    text-decoration: none;
}

@media (min-width: 1024px) {
    .underline-from-center::after {
        content: '#';
        display: inline-block;
        background-image: linear-gradient(currentColor, currentColor);
        background-size: 0 2px;
        background-position: center bottom;
        background-repeat: no-repeat;
        transition: background-size 0.3s ease-in-out;
    }

    .underline-from-center:hover::after {
        background-size: 100% 2px;
    }
}
